
.subscribe-container{
    background-color: rgb(2, 121, 109);
    padding: 20px;
    margin-bottom:15px;
    border-radius: 30px;
}
.subscribe-title{
    margin-left: 450px;
    color: white;
}

.subscribe{
    margin: 20px auto;
}
.subscribe input{
   width: 500px;
   height: 50px;
}
@media only screen and (max-width: 600px) {
    .subscribe-title{
        margin-left: 50px;
    } 
    .subscribe{
        width: 100%;
    }
    .subscribe input{
        width: 100%;
    }
}